*{
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", Serif;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/bg.jpeg");
    background-size: cover;
    background-position: center;
}

.navigation {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navigation ul li a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}

.indexBody {
    background-color: black;
    height: 100%;
    width: 100%;
    text-indent: 3px;
    min-height: 1080px;
    padding-top: 25px;
}

.forumContainer {
    background-color: white;
    width: 85%;
    border: 3px double;
    height:fit-content;
    padding: 1rem;
    margin: auto auto 1rem;
}

.forumContainer_Title {
    font-size: larger;
    font-family: "JetBrains Mono ExtraBold", Serif;
    border: 3px double;
}

.forumContainer_Socials {
    border: 3px double;
}

.login {
    background-color: white;
    width: 50%;
    border: 3px double;
    height:fit-content;
    padding: 1rem;
    margin: auto auto 1rem;
}

